@keyframes appearing-gameResult {
  0% {
    transform: scale(0.2);
  }

  20% {
    transform: scale(1);
  }

  80% {
    opacity: 1;
  }

  /* 100% {
    opacity: 0;
  } */
}

.gameResult {
  animation: appearing-gameResult 5s forwards;
}

.gameResult p {
  font: 900 400%/150% sans-serif;
  color: white;
  position: static !important;
  margin: 0;
  text-align: center;
}

.gameResult--won {
  background-color: rgb(28, 138, 42);
}

.gameResult--lost {
  background-color: rgb(156, 50, 50);
}

.gameResult--button {
  font: 900 150%/190% sans-serif;
  color: white;
  text-align: center;
  border: 2px inset white;
  border-radius: 3px;
  box-sizing: border-box;
}

@keyframes button-pushed {
  100% {
    border-width: 4px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.gameResult--button--pushed {
  animation: button-pushed 0.1s reverse;
}
