@keyframes empty-pourOutArea {
  100% {
    transform: rotate(95deg);
  }
}

.pourOutArea--emptying {
  animation: empty-pourOutArea 0.2s forwards;
}

@keyframes revert-pourOutArea {
  0% {
    transform: rotate(95deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.pourOutArea--reverting {
  animation: revert-pourOutArea 0.2s forwards;
}
