.timeBox--wrapper {
  background-color: rgb(34, 8, 39);
  overflow: hidden;
}

@keyframes play-colors-progress-bar {
  50% {
    background-color: rgb(120, 12, 163);
  }
  100% {
    background-color: rgb(105, 7, 145);
  }
}

.timeBox--progress-bar {
  background-color: rgb(105, 7, 145);
  animation: play-colors-progress-bar 1s infinite;
}
