@keyframes fade-damages {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 10px) scale(1.2);
  }
}

.damages {
  font-weight: 900;
  font-size: 120%;
  color: rgb(184, 192, 204);
  text-align: center;
  animation: fade-damages 1s forwards;
}
