.totalsOnTable--positive,
.totalsOnTable--negative {
  font-weight: 900;
  font-size: 120%;
  text-align: center;
}

@keyframes fade-totals-positive {
  18% {
    transform: translate(10px, -40px);
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(15px, -90px) scale(0.7);
  }
}

.totalsOnTable--positive {
  color: rgb(255, 251, 0);
  animation: fade-totals-positive 2s forwards;
}

@keyframes fade-totals-negative {
  0% {
    transform: translate(20px, 50px);
  }
  18% {
    transform: translate(50px, 60px);
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(60px, 110px) scale(0.7);
  }
}

.totalsOnTable--negative {
  animation: fade-totals-negative 2s forwards;
  color: rgb(184, 192, 204);
}
