.level-form,
.faucet-checkbox {
  margin: 2px 10px;
  display: inline-block;
}

.level-form {
  margin: 2px 10px;
}

.faucet-checkbox {
  margin: 0px;
}

.level-form__input {
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
