#scene {
  position: relative;
  background-color: rgb(56, 56, 92);
  overflow: hidden;
  z-index: 10;
}

#scene * {
  position: absolute;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

img {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}

.mugsOnLine {
  z-index: 50;
}

.bar {
  z-index: 60;
}

.dragMug {
  z-index: 80;
}

.faucets {
  z-index: 65;
}

.mugPlaces {
  z-index: 70;
  background-color: rgba(255, 255, 255, 0.2);
}

.hookPlace {
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.2);
}

.customersTable {
  z-index: 55;
}

.faucetHandles {
  z-index: 70;
  background-color: rgba(255, 255, 255, 0.2);
}

.fallenMug {
  z-index: 90;
}

.mugFilling {
  z-index: 75;
}

@keyframes fade-waitingMug {
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.waitingMug {
  z-index: 75;
  animation: fade-waitingMug 3s forwards;
}

.scoreBoard {
  background-color: rgb(1, 1, 1);
  z-index: 30;
}

.moneyDisplay {
  background-color: rgb(202, 209, 208);
  text-align: center;
  font-size: 120%;
}

@keyframes fade-damages {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 10px) scale(1.2);
  }
}

.damages {
  z-index: 72;
  font-weight: 900;
  font-size: 120%;
  color: rgb(184, 192, 204);
  text-align: center;
  animation: fade-damages 1s forwards;
}

@keyframes fade-customersReaction {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.customersReaction {
  z-index: 78;
  animation: fade-customersReaction 1.5s forwards;
}

.totalsOnTable--positive,
.totalsOnTable--negative {
  z-index: 72;
  font-weight: 900;
  font-size: 120%;
  text-align: center;
}

@keyframes fade-totals-positive {
  18% {
    transform: translate(10px, -40px);
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(15px, -90px) scale(0.7);
  }
}

.totalsOnTable--positive {
  color: rgb(255, 251, 0);
  animation: fade-totals-positive 2s forwards;
}

@keyframes fade-totals-negative {
  0% {
    transform: translate(20px, 50px);
  }
  18% {
    transform: translate(50px, 60px);
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(60px, 110px) scale(0.7);
  }
}

.totalsOnTable--negative {
  animation: fade-totals-negative 2s forwards;
  color: rgb(184, 192, 204);
}

.timeBox--wrapper {
  z-index: 50;
  background-color: rgb(34, 8, 39);
  overflow: hidden;
}
