#scene {
  position: relative;
  background-color: rgb(56, 56, 92);
  overflow: hidden;
}

#scene * {
  position: absolute;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

img {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}

.MugsOnLine {
  z-index: 50;
}

.Bar {
  z-index: 60;
}

.DragMug {
  z-index: 80;
}

.Faucets {
  z-index: 65;
}

.FaucetSwitches {
  z-index: 70;
  /* background-color: white; */
}

.MugPlaces {
  z-index: 70;
  background-color: white;
}

.FallenMug {
  z-index: 90;
}

.MugFilling {
  z-index: 75;
}

.BeerJet {
  z-index: 73;
  /* background-color: yellow;
  border: solid 1px yellow; */
}
