#scene {
  position: relative;
  background-color: rgb(56, 56, 92);
  overflow: hidden;
  z-index: 10;
}

#scene * {
  position: absolute;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

img {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}

.mugsOnLine {
  z-index: 50;
}

.bar {
  z-index: 60;
}

.dragMug {
  z-index: 80;
}

.Faucets {
  z-index: 65;
}

.FaucetSwitches {
  z-index: 70;
  /* background-color: white; */
}

.MugPlaces {
  z-index: 70;
  background-color: rgba(255, 255, 255, 0.2);
}

.HookPlace {
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.2);
}

.FallenMug {
  z-index: 90;
}

.MugFilling {
  z-index: 75;
}

.BeerJet {
  z-index: 73;
}

.Score {
  background-color: rgb(1, 1, 1);
  z-index: 30;
}

#moneyDisplay {
  background-color: rgb(202, 209, 208);
  text-align: center;
  font-size: 120%;
}

.Damages {
  z-index: 72;
  font-weight: 1000;
  font-size: 120%;
  color: rgb(243, 236, 141);
  text-align: center;
}
